<section>
  <div class="container-fluid py-3">
    <div class="header row justify-content-between mb-3">
      <div class="col-8">
        <div class="row">
          <div class="col-10">
            <div class="input d-flex align-items-center px-3 py-1 h-100">
              <i class="fa-solid fa-magnifying-glass pe-3"></i>
              <input type="search" placeholder="search by lab number..." class="form-control">
            </div>
          </div>
          <div class="col-2 d-flex">
            <div class="case-contact d-flex align-items-center" style="width: 40px; border-radius: 10px;">
              <svg width="" height="25" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_166_376)">
                  <path
                    d="M5.9375 0.9375C5.9375 0.417969 5.51953 0 5 0C4.48047 0 4.0625 0.417969 4.0625 0.9375V2.5H2.5C1.12109 2.5 0 3.62109 0 5V5.625V7.5V17.5C0 18.8789 1.12109 20 2.5 20H15C16.3789 20 17.5 18.8789 17.5 17.5V7.5V5.625V5C17.5 3.62109 16.3789 2.5 15 2.5H13.4375V0.9375C13.4375 0.417969 13.0195 0 12.5 0C11.9805 0 11.5625 0.417969 11.5625 0.9375V2.5H5.9375V0.9375ZM1.875 7.5H15.625V17.5C15.625 17.8438 15.3438 18.125 15 18.125H2.5C2.15625 18.125 1.875 17.8438 1.875 17.5V7.5ZM8.75 9.0625C8.23047 9.0625 7.8125 9.48047 7.8125 10V11.875H5.9375C5.41797 11.875 5 12.293 5 12.8125C5 13.332 5.41797 13.75 5.9375 13.75H7.8125V15.625C7.8125 16.1445 8.23047 16.5625 8.75 16.5625C9.26953 16.5625 9.6875 16.1445 9.6875 15.625V13.75H11.5625C12.082 13.75 12.5 13.332 12.5 12.8125C12.5 12.293 12.082 11.875 11.5625 11.875H9.6875V10C9.6875 9.48047 9.26953 9.0625 8.75 9.0625Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_166_376">
                    <rect width="17.5" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="case-mode ms-4 d-flex align-items-center" style="width: 40px; border-radius: 10px;">
              <svg width="" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.75 13.75V3.75C3.75 2.37109 4.87109 1.25 6.25 1.25H16.25C17.6289 1.25 18.75 2.37109 18.75 3.75V11.4648C18.75 12.1289 18.4883 12.7656 18.0195 13.2344L15.7344 15.5195C15.2656 15.9883 14.6289 16.25 13.9648 16.25H6.25C4.87109 16.25 3.75 15.1289 3.75 13.75ZM10.625 5C10.2812 5 10 5.28125 10 5.625V7.5H8.125C7.78125 7.5 7.5 7.78125 7.5 8.125V9.375C7.5 9.71875 7.78125 10 8.125 10H10V11.875C10 12.2188 10.2812 12.5 10.625 12.5H11.875C12.2188 12.5 12.5 12.2188 12.5 11.875V10H14.375C14.7188 10 15 9.71875 15 9.375V8.125C15 7.78125 14.7188 7.5 14.375 7.5H12.5V5.625C12.5 5.28125 12.2188 5 11.875 5H10.625ZM11.5625 18.125C12.082 18.125 12.5 18.543 12.5 19.0625C12.5 19.582 12.082 20 11.5625 20H5.3125C2.37891 20 0 17.6211 0 14.6875V5.9375C0 5.41797 0.417969 5 0.9375 5C1.45703 5 1.875 5.41797 1.875 5.9375V14.6875C1.875 16.5859 3.41406 18.125 5.3125 18.125H11.5625Z"
                  fill="white" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <app-logged-user></app-logged-user>
      </div>
    </div>
    <h1 class="mb-3">Radiology Labs</h1>
    <div class="emergency container-fluid py-3 rounded shadow">
      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cell mx-2 rounded py-2">
        <div class="col-4">
          <div class="inner d-flex">
            <div class="data">
              <h5 class="mb-0">Lab No. 10</h5>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="inner d-flex align-items-center flex-row-reverse h-100">
            <div class="case-contact ms-2 px-3 py-1 rounded-pill">
              <p class="m-0">store 200 result</p>
            </div>
            <div class="case-available ms-2 px-3 py-1 rounded-pill">
              <p class="m-0"> Available</p>
            </div>
          </div>
        </div>
      </div>





    </div>

  </div>
</section>