<section class="p-5">
    <h1 class="display-5">Patient Health Records</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 p-2">
                <div class="inner h-100 text-center card p-2">
                    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height: '200px'}"></canvasjs-chart>
                </div>
            </div>
            <div class="col-md-5 p-2">
                <div class="inner h-100 p-5 card bg-primary d-flex justify-content-center align-items-center flex-column">
                    <h2 class="display-5 text-light">50<sup>%</sup></h2>
                    <p class="m-0 text-light">Last Record For Heart Sensor</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-2">
                <div class="inner card p-5 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="display-5">50<sup style="color: #2662F0">%</sup></h2>
                    <p class="m-0">Last Record For Heart Sensor</p>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="inner card p-5 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="display-5">50<sup style="color: #2662F0">%</sup></h2>
                    <p class="m-0">Last Record For Heart Sensor</p>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="inner card p-5 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="display-5">50<sup style="color: #2662F0">%</sup></h2>
                    <p class="m-0">Last Record For Heart Sensor</p>
                </div>
            </div>
        </div>
    </div>
</section>